.aboutSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(174.2deg, rgba(240,246,238,1) 20%, rgba(255,244,228,1) 67.4%);
  color: #333;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90%;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .contentContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 40px;
  }

  .textContainer {
    flex: 1;
    text-align: left;
  }
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  margin-right: 0;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title {
    font-size: 45px;
    text-align: left;
    margin-right: 30px;
  }
}

.subtitle {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 24px;
    text-align: left;
  }
}

.description {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .description {
    text-align: justify;
    line-height: 1.5;
  }
}
