.contactSection {
    padding: 60px 20px;
    background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 20%, rgba(240,246,238,1) 67.4%);
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
  }
  
  .emailIcon {
    width: 80px;
    color: #333;
  }
  .subtitle {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: #666;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contactButton {
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 30px;
    transition: background-color 0.3s;
  }
  
  .contactButton:hover {
    background-color: #AACDA2;
  }
  