.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: red;
  }
  
  .navbar {
    display: flex;
    flex-grow: 1;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
  }
  
  .navList li {
    display: flex;
  }
  
  .navList a {
    font-family: 'inter', sans-serif;
    font-weight: 600;
    color: #031D44;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .icon {
    margin-left: 10px;
  }
  