.welcomeSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(174.2deg, rgba(255,244,228,1) 20%, rgba(240,246,238,1) 67.4%);
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: #333;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  max-width: 90%;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .contentContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    padding: 0 40px;
  }

  .textAndApprenticeshipContainer {
    flex: 1;
    margin-right: 50px;
    text-align: left;
  }

  .imageContainer {
    width: 45%;
    order: 0;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  order: 1;
}

.WelcomeImage {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1028px) {
  .WelcomeImage {
    max-width: 500px;
    width: auto;
    margin-top: -100px;
  }
}

@media (min-width: 1029px) {
  .WelcomeImage {
    max-width: 550px;
    width: auto;
    margin-top: -100px;
  }
}

.textAndApprenticeshipContainer {
  flex: 1;
  margin-bottom: 30px;
}

.textContainer {
  margin-bottom: 30px;
}

.apprenticeshipContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .apprenticeshipContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .apprenticeshipColumn {
    margin-right: 50px;
  }
}

.resumeButton {
  background-color: transparent;
  border: solid 1px #333;
  color: #333;
  text-decoration: none;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 50px;
  text-align: center;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.resumeButton:hover {
  background-color: #AACDA2;
  border: 1px solid #AACDA2;
  color: white;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.subtitle {
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .title {
    font-size: 45px;
  }

  .subtitle {
    text-align: left;
  }
}

.description {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .description {
    text-align: left;
  }
}

.apprenticeshipSubtitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-top: 0;
}

.apprenticeshipDescription {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}

@media (min-width: 768px) {
  .apprenticeshipDescription {
    text-align: left;
  }
}
