
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  width: 100%;
  background-color: white;
  padding: 10px;
  text-align: center;
  z-index: 1;
}
